.home{
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.main-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-description-text{
    font-size: 1.2rem;
}

.main-logo-title{
    font-size: 2.2rem;
}

.main-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    gap: 60px;
}

.main-data-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    font-size: 20px;
}

.button button{
    padding: 10px 40px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.863);
    border-color: rgba(255, 255, 255, 0.685);
    cursor: pointer;
}

.button button:hover {
    background-color: rgba(255, 255, 255, 0.11);
    border-color: transparent;
}

.status{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 1.2rem;
    font-style: italic;
}

.status p{
    height: 1px;
    width: 160px;
    background-color: #fff;
    color: transparent;
}